.nav-container {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.logo {
  font-size: 30px;
}
.logo span {
  font-size: 40px;
  color: #02d693;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping-cart {
  position: relative;
  font-size: 20px;
}
.item {
  position: absolute;
  top: -14px;
  right: -6px;
  color: #fff;
  font-size: 14px;
  background-color: #02d693;
  border-radius: 50%;
  padding: 1px 3px;
}
.menu-bar {
  display: none;
}
@media only screen and (max-width: 576px) {
  .logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .menu-bar {
    padding-right: 20px;
    display: block;
  }
  .nav-container {
    height: 100%;
    padding: 0;
  }
  .nav-links {
    flex-direction: column;
    padding: 20px;
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    transition: 0.5s linear;
  }

  .logo {
    font-size: 20px;
  }
  .menuClose {
    top: 45px;
    display: block;
  }
  .menuOpen {
    top: -50px;
    display: none;
  }
}
