.link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
  font-weight: 400;
  position: relative;
}
/* .link::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background-color: black;
  margin: 0 auto;
  transition: 0.3s linear;
}

.link:hover {
  width: 20%;
} */
@media only screen and (max-width: 576px) {
  .link {
    padding-bottom: 10px;
  }
}
